name: Submit forecasts
on:
  workflow_run:
    workflows: ["Run forecasts"]   # auto-trigger when forecasts have been generated succesfully
    types:
      - completed
  workflow_dispatch:  # allows manual trigger from Actions tab

permissions:
  contents: write         # Allows pushing commits
  pull-requests: write    # Allows creating and merging PRs

jobs:

  upload:

    # Set up on virtual ubuntu machine
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest

    steps:
      # Checkout your main forecast repo
      - name: Checkout forecast repository
        uses: actions/checkout@v5
        with:
          repository: BentoLab-DiseaseDynamics/Cornell-JHU_hierarchSIR
          path: forecast-repo

      # Checkout your forked challenge repo
      - name: Checkout CDC FluSight repository fork
        uses: actions/checkout@v5
        with:
          repository: BentoLab-DiseaseDynamics/FluSight-forecast-hub
          token: ${{ secrets.FORECAST_UPLOAD_TOKEN }}
          ref: main
          path: challenge-repo

      # Copy file between directories on the same VM
      - name: Copy forecast file
        run: |
          cp forecast-repo/data/interim/calibration/forecast/SIR-1S/hyperparameters-exclude_None/forecast_latest.csv challenge-repo/submissions/forecast.csv

      # Commit and push in challenge repo
      - name: Commit and push
        working-directory: challenge-repo
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout -b auto-forecast-$(date +%Y-%m-%d)
          git add submissions/forecast.csv
          git commit -m "Automated forecast for $(date +%Y-%m-%d)"
          git push origin HEAD
